.card {
  background-color: snow;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);

  width: 50%;
  padding: 2rem 5rem;
  position: absolute;
  margin: 0 auto;
  z-index: -1;
}

.card .header {
  background-color: whitesmoke;
  padding: 0.5rem 2rem;

  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.card .question {
  font-family: sans-serif;
  text-align: left;
}

.arrows {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#next,
#previous {
  font-size: 4rem;
  margin: 2%;
  color: #999;
  transition: transform 0.25s ease-in-out, color 0.3s ease-in-out;
  cursor: pointer;
}

#previous {
  transform: rotate(180deg);
}

#next:hover,
#previous:hover {
  color: #333;
}

#next:hover {
  transform: scale(1.25);
}

#previous:hover {
  transform: scale(1.25) rotate(180deg);
  /* transform: rotate(180deg); */
}

.card {
  animation-duration: 0.5s;
  animation-iteration-count: 1;
}
.card.nextOut {
  animation-name: nextOut;
}
.card.nextIn {
  animation-name: nextIn;
}

.card.previousIn {
  animation-name: previousIn;
}
.card.previousOut {
  animation-name: previousOut;
}

@keyframes nextOut {
  from {
    transform: translate(0vw);
    opacity: 100%;
  }

  to {
    opacity: 0%;
    transform: translate(-100vw);
  }
}
@keyframes nextIn {
  from {
    transform: translate(100vw);
    opacity: 0%;
  }

  to {
    transform: translate(0vw);
    opacity: 100%;
  }
}

@keyframes previousOut {
  from {
    transform: translate(0vw);
    opacity: 100%;
  }
  to {
    transform: translate(100vw);
    opacity: 0%;
  }
}
@keyframes previousIn {
  from {
    transform: translate(-100vw);
    opacity: 0%;
  }
  to {
    transform: translate(0vw);
    opacity: 100%;
  }
}
