@media only screen and (max-width: 600px) {
  html {
    overflow: scroll;
  }

  header {
    margin-top: 1vh;
  }

  .hero {
    margin: auto;
    margin-top: 1vh;
    padding: 2vh;
    width: 100vw;
  }

  .game {
    margin: 0.5rem;
    height: auto;
  }

  .game h6 {
    margin: 0.25rem 0;
    font-size: 1.25rem;
  }

  .select {
    flex-direction: column;
  }

  #next,
  #previous {
    position: absolute;
    bottom: 0;
    width: 50%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
    font-size: 12.5vh;
  }

  #next:hover {
    transform: scale(1);
  }
  #previous:hover {
    transform: scale(1) rotate(180deg);
  }

  #next {
    right: 0;
  }

  .card {
    width: 95vw;
    height: 50%;
    font-size: 1.4rem;

    display: flex;
    padding: 1rem;
  }
  .question {
    padding: 0.5rem;
    display: flex;
    align-items: center;
  }

  hr {
    height: 1vh;
    background: linear-gradient(#ff9d0a, #ff640a);
    border: none;
    width: 50vw;

    margin: 1vh 0;

    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.5);

    animation-name: expandHr;
    animation-iteration-count: 1;
    animation-duration: 1.5s;
  }
  .deep,
  .most-likely,
  .never-have-i-ever {
    animation-name: hero, load;
    animation-duration: 1.5s;
  }

  .hero {
    animation-name: hero, load;
    animation-duration: 1.75s;
  }

  @keyframes expandHr {
    from {
      width: 0vw;
    }
    to {
      width: 50vw;
    }
  }

  @keyframes hero {
    from {
      transform: translate(0, -100vh);
    }
    to {
      transform: translate(0, 0vh);
    }
  }
  @keyframes load {
    from {
      opacity: 0%;
    }
    to {
      opacity: 100%;
    }
  }

  .myBtn {
    font-size: 2rem;
    padding: 5% 15%;
  }

  .card .title {
    font-size: 1.5rem;
  }
}
